body {
    background-image: url('change\ blue.webp');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    font-size: 5em;
    text-align: center;
    margin-top: 25px;
}
h2 {
    color: white;
    font-size: 3em;
    text-align: center;
    position: relative;
    bottom: 25px;
}
div {
    text-align: left;
    margin-left: 400px;
    color: white;
    font-size: 1.5em;
}
#name {
    font-size: x-large;
}
#nick-name {
    font-size: x-large;
}
input {
    height: 1.5cm;
    width: 8cm;
}
#submit {
    background-color: white;
    height: 1.5cm;
    width: 8cm;
    border: none;
    color: black;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 100px;
}